{% extends 'layout.html' %}
{% block body %}
<div class="row">
  <div class="col-lg-12 mb-5">
    <div class="card">
      <div class="card-header">
        <h3>Home</h3>
      </div>
      <div class="card-body">
        <div class="text-center">
          <img src="static/images/isl.jpg" alt="Indian Sign Language" height="200px">
        </div>
        <br>
        <p>Sign Language is the natural way of expressing thoughts and feelings for the deaf community.</p>
        <p>Sign language is a diagrammatic and non-verbal language used by the impaired community to communicate their feeling to their lookalike one.</p>
        <p>Today we live in the era of technological development, owing to which instant communication is quite easy but even then,
        a lot of work needs to be done in the field of Sign language automation to improve the quality of life among the deaf community.</p>
        <p>The traditional approaches used for representing the signs are in the form of videos or text that are expensive, time-consuming, and are not easy to use.</p>
        <p>In this research work, an attempt is made for the conversion of Complex and Compound English sentences to Indian Sign Language using synthetic animations.</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}